fastapi
uvicorn
sqlalchemy
pydantic
python-jose
passlib
python-multipart
python-dotenv
mysqlclient
pydantic-settings
fastapi-pagination
fastapi-cache
slowapi
os
base64
pytest
mysql-connector-python
uuid
sqlalchemy-utils
bcrypt


