fastapi==0.111.0
uvicorn==0.30.1
sqlalchemy
pydantic==2.8.2
python-jose
passlib
python-multipart
python-dotenv
mysqlclient
pydantic-settings==2.3.4
fastapi-pagination==0.12.26
fastapi-cache
slowapi==0.1.9
os
base64
pytest
mysql-connector-python
uuid
sqlalchemy-utils
bcrypt


